h1 {
	color:blue;
	text-align: center;
}

.template{visibility: hidden;}

.hidden{visibility: hidden;}


/** Repair top indentation of glyphicon buttons in input groups */
.input-group-btn .btn.glyphicon { top: 0; }

.task .btnStatusTask.DONE {
	color: green;
}

.task .taskLabel.DONE {
	text-decoration: line-through;
	color: #BBB;
}
