<div class = "task input-group">
  <span class = "btnStatusTask input-group-addon {{state}}">
    <span class = "glyphicon {{icon}}"></span>
  </span>
  <span class = "taskLabel form-control {{state}}">{{title}}</span>
  <span class = "btnDeleteTask input-group-addon">
    <span class = "glyphicon glyphicon-minus"></span>
  </span>
</div>
